{% extends 'base.html' %}

{% block title %}
    | About
{% endblock title %}

{% block content %}
<style>
    .centered-text {
        text-align: center;
    }

    .name {
        font-size: 3em; /* Adjust size as needed */
        font-weight: bold; /* Make the text bold */
        text-transform: uppercase; /* Convert text to uppercase */
        margin-top: 20px; /* Add spacing at the top */
        color: #333; /* Text color */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
    }
</style>

<div class="centered-text">
    <h2 class="name">FLORES, SHIELA MAE</h2>
    <h2 class="name">JOSHUA, URIBIA</h2>
</div>
{% endblock content %}
